/* Estilos básicos para o footer */
footer {
    background-color: #333; /* Cor de fundo */
    color: white;
    padding: 20px 0;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-info, .social-media {
    width: 45%; /* Ajusta a largura das seções */
}

.footer-info h4, .social-media h4 {
    margin-bottom: 10px;
}

.footer-info p, .social-media a {
    margin: 5px 0;
    color: #bbb; /* Cor dos textos */
}

.social-media a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #fff; /* Cor ao passar o mouse */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em; /* Tamanho da fonte menor */
    color: #bbb; /* Cor do texto */
}
